html, body
  height 100%
  width 100%
  margin 0
  padding 0
  min-width 1220px
#app
  margin: 0 auto
a
  text-decoration none
ul
  list-style none
  box-sizing: border-box
.el-button--success
  color #fff
  background-color #31c27c
  border-color #31c27c
  &:hover
    background-color #2caf6f
    border-color #2caf6f
    color: #fff
/* table */
.el-table th
  background-color: #fbfbfd
.el-table tr:nth-child(2n)
  background-color: #fbfbfd
.el-table td, .el-table th.is-leaf
  border: 0px
/* 滚动条样式 */
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
  width: 8px
  height: 8px
  background-color: #ccc
 
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 6px #fff
  border-radius: 10px
  background-color: #F5F5F5
 
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
  border-radius: 10px
  -webkit-box-shadow: inset 0 0 6px #fff
  background-color: #ccc
